
* {
    -primary-background-color: #E1DFE2;
    -secondary-background-color: #F6F1F1;
    -tertiary-background-color: #F4F3F4;

    -primary-text-color: #08090A;
    -secondary-text-color: #69636C;

    -primary-border-color: #979797;

    -enter-button-color: #D6D6D6;

    -tertiary-selected-color: #E5E2E7;
}
