
* {
    -primary-background-color: #2C2C2F;
    -secondary-background-color: #47474b;
    -tertiary-background-color: #363D43;

    -primary-text-color: #FCFDFC;
    -secondary-text-color: #BDB9BF;

    -primary-border-color: #08090A;

    -enter-button-color: #555559;

    -tertiary-selected-color: #252A2E;

    -cell-background-color: #3C3C40;
    -cell-backgrounc-color-focused: #48484C;
}
