
* {
    -fx-font-family: "Helvetica Neue";
    -error-color: #D70A0A;
    -accent-color: #F9322E;
    -accent-contrast-color: #FCFDFC;
    -secondary-accent-constrast-color: #E0DCE2;
}

/* Default node styles */

.text-field {
    -fx-text-fill: -primary-text-color;
    -fx-background-color: -tertiary-background-color;
    -fx-border-color: -primary-border-color;
    -fx-border-radius: 4px;
}

.text-field:focused {
    -fx-border-color: -accent-color;
}

.button {
    -fx-text-fill: -primary-text-color;
    -fx-background-color: -tertiary-background-color;
    -fx-background-insets: 0;
    -fx-border-color: -primary-border-color;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.tooltip {
    -fx-font-size: 10;
}

.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar, .scroll-bar .track {
    -fx-background-color: transparent;
}

.scroll-bar > .thumb {
    -fx-background-color: -secondary-background-color;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-padding: 0;
    -fx-shape: " ";
}

.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 0 0 10 0;
}

.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 0 10 0 0;
}

.split-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.split-pane-divider {
    -fx-pref-width: 1px;
    -fx-background-color: -primary-border-color;
    -fx-background-insets: 1;
}


.scroll-pane.padded {
    -fx-padding: 10;
}

.field .label {
    -fx-text-fill: -primary-text-color;
    -fx-font-size: 12;
}

.field .error-label {
    -fx-text-fill: -error-color;
    -fx-font-size: 9;
}

.field > .text-field:error, .field > .password-field:error {
    -fx-border-color: -error-color;
}

.check-box > .box {
    -fx-border-color: -accent-color;
    -fx-border-width: 0.1em;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0.083334em 0.083334em 0.166667em 0.166667em; /* 1 1 2 2 */
}

.check-box > .box > .mark {
    -fx-padding: 0.166667em 0.166667em 0.25em 0.25em; /* 2 2 3 3 */
    -fx-shape: "M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z";
}

.check-box:selected > .box > .mark {
    -fx-background-insets: 1 0 -1 0;
    -fx-background-color: -accent-color;
}

.progress-bar > .bar {
    -fx-background-color: -accent-color;
}

.progress-bar > .track {
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: -primary-border-color;
    -fx-background-color: -tertiary-background-color;
    -fx-background-radius: 4px;
}


/* Common style classes */

.root, .background {
    -fx-background-color: -primary-background-color;
}

.text {
    -fx-text-fill: -primary-text-color;
}

.secondary-text {
    -fx-text-fill: -secondary-text-color;
}

.title {
    -fx-font-size: 18;
}

.subtitle {
    -fx-font-size: 16;
}

.heading {
    -fx-font-size: 14;
}

.heading-2 {
    -fx-font-size: 13;
}

.heading-3 {
    -fx-font-size: 12;
}

.body {
    -fx-font-size: 11;
}

.sub-body {
    -fx-font-size: 10;
}

.sub-body-2 {
    -fx-font-size: 8;
}

.sub-body-3 {
    -fx-font-size: 6;
}

.bold {
    -fx-font-weight: bold !important;
}

.mono {
    -fx-font-family: "ui-monospace", "SFMono-Regular", "SF Mono", "Menlo", "Consolas", "Liberation Mono", "monospace";
}

.label.error {
    -fx-text-fill: -error-color;
}

.padded-5 {
    -fx-padding: 5;
}

.icon {
    -fx-background-color: -primary-text-color;
}

.icon.accent {
    -fx-background-color: -accent-color;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-background-radius: 6px;
    -fx-border-color: transparent;
    -fx-padding: 10;
}

.enter-button {
    -fx-background-color: -accent-color;
    -fx-text-fill: -accent-contrast-color;
}

/* Side bar */

.cell {
    -fx-border-width: 0;
}

.cell.top {
    -fx-background-radius: 4px 4px 0 0;
    -fx-border-radius: 4px 4px 0 0;
}

.cell.bottom {
    -fx-background-radius: 0 0 4px 4px;
    -fx-border-radius: 0 0 4px 4px;
}

.cell.top.bottom {
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.cell.transparent {
    -fx-background-color: transparent;
}

.side-bar {
    -fx-background-color: -tertiary-background-color;
    -fx-border-color: -primary-border-color;
    -fx-border-width: 0 1px 0 0;
}

.side-bar > .cell {
    -fx-background-color: -tertiary-background-color;
    -fx-background-insets: 1 5 1 5;
    -fx-background-radius: 6px;
    -fx-padding: 0.3334em 0.6667em;
}

.side-bar > .cell.top {
    -fx-padding: 0.3334em;
}

.side-bar > .nav-cell .icon {
    -fx-background-color: -accent-color;
}

.side-bar > .nav-cell, .side-bar > .cell.padded {
    -fx-padding: 0.6667em 1.33334em;
}

.side-bar > .nav-cell:selected {
    -fx-background-color: -tertiary-selected-color;
}

.side-bar > .cell > .radio, .side-bar .cell > .radio > .dot {
    -fx-padding: 0;
    -fx-border-width: 0;
}

.side-bar > .cell, .open-existing-tab .cell, .clone-tab .cell {
    -fx-border-color: -primary-border-color;
}

.repository-cell, .remote-cell {
    -fx-padding: 0.6667em 0.8889em;
}

.repository-cell, .remote-cell {
    -fx-background-color: -tertiary-background-color;
    -fx-border-width: 0 1px 1px 1px;
}

.repository-cell.bottom, .remote-cell.bottom {
    -fx-border-width: 0 1px 1px 1px;
}

.repository-cell.top, .remote-cell.top, .repository-cell.top.bottom, .remote-cell.top.bottom {
    -fx-border-width: 1px;
}

.selection-cell-list > .cell:selected {
    -fx-background-color: -accent-color;
}

.selection-cell-list > .cell:selected .text {
    -fx-text-fill: -accent-contrast-color;
}

.selection-cell-list > .cell:selected .icon {
    -fx-background-color: -accent-contrast-color;
}

.selection-cell-list > .cell:selected .secondary-text {
    -fx-text-fill: -secondary-accent-constrast-color;
}

.top-bar {
    -fx-background-color: -secondary-background-color;
}

.account-cell {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -primary-border-color;
}

.no-padding {
    -fx-padding: 0;
}

.clone > .cell {
    -fx-border-width: 1px;
    -fx-border-color: -primary-border-color;
}
