
* {
    -primary-background-color: #04080C;
    -secondary-background-color: #151A1F;
    -tertiary-background-color: #0F1216;

    -primary-text-color: #FCFDFC;
    -secondary-text-color: #E0DCE2;
    -tertiary-text-color: #08090A;

    -primary-border-color: #2A2F35;

    -tertiary-selected-color: #252A2E;

    -cell-background-color: #3C3C40;
    -cell-backgrounc-color-focused: #48484C;
}
