
* {
    -primary-background-color: #E1DFE2;
    -secondary-background-color: #F4F3F4;
    -tertiary-background-color: #eae7ea;

    -primary-text-color: #08090A;
    -secondary-text-color: #69636C;
    -tertiary-text-color: #FCFDFC;

    -primary-border-color: #c5ccd3;

    -tertiary-selected-color: #d9d5d9;

    -cell-background-color: #F1F0F2;
    -cell-background-color-focused: #F8F7F7;
}
