
.repository-tabs {
    -fx-background-color: -primary-background-color;
    -fx-border-color: -primary-border-color;
    -fx-border-width: 0 0.083334em 0 0;
}

.repository-tabs > .cell {
    -fx-padding: 0.6667em 0; /* 8 0 */
}

.repository-tabs > .cell:selected {
    -fx-background-color: -tertiary-background-color;
}

.repository-tabs > .cell > .radio, .repository-tabs > .cell > .radio > .dot {
    -fx-padding: 0;
    -fx-border-width: 0;
}

.side-bar .cell {
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-border-color: transparent;
}

.side-bar .cell:selected {
    -fx-border-color: -accent-color;
}

.side-bar .cell:open {
    -fx-background-color: -accent-color;
}

.side-bar .cell:open .text {
    -fx-text-fill: -accent-contrast-color;
}

.side-bar .cell:open .icon {
    -fx-background-color: -accent-contrast-color;
}

.file-cell > .stage-check-box {
    -fx-padding: 0 5px 0 0;
}

.file-cell > .stage-check-box:selected > .box {
    -fx-background-color: -accent-color;
}

.file-cell > .stage-check-box:selected > .box > .mark {
    -fx-background-color: -tertiary-background-color;
}

/* Tab Bar */

.tab-bar {
    -fx-tab-min-height: 1.6667em; /* 20 */
    -fx-tab-max-height: 1.6667em; /* 20 */
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}
.tab-bar > .tab-header-area > .headers-region > .tab {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0.5em; /* 0 6 */
}
.tab-bar > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: -primary-background-color;
    -fx-border-color: -primary-border-color;
    -fx-border-width: 0 0 1px 0;
}
.tab-bar > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -secondary-background-color;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}
.tab-bar:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}
.tab-bar:focused > .tab-header-area > .headers-region > .tab:bottom:selected .focus-indicator {
    -fx-border-insets: 0;
}
.tab-bar > .tab-header-area > .tab-header-background {
    -fx-background-color: -primary-background-color;
    -fx-border-color: -primary-border-color;
    -fx-border-width: 0 0 1px 0;
}
.tab-bar:top > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0;
}
.tab-bar:top > .tab-header-area {
    -fx-padding: 0;
}

/* Disable tab down button. */
.tab-bar > .tab-header-area > .control-buttons-tab > .container,
.tab-bar > .tab-header-area > .control-buttons-tab > .container > .tab-down-button,
.tab-bar > .tab-header-area > .control-buttons-tab > .container > .tab-down-button > .arrow {
    -fx-padding: 0;
}


.code-area {
    -fx-background-color: -secondary-background-color;
}

.code-area .text {
    -fx-font-family: Menlo;
    -fx-font-style: normal;
    -fx-fill: -primary-text-color;
}

.code-area .caret {
    -fx-stroke: -primary-text-color;
}

.code-area .lineno {
    -fx-background-color: -secondary-background-color;
}

.code-editor .keyword {
    -fx-fill: -keyword-color;
}

.code-editor .string {
    -fx-fill: -string-color;
}

.code-editor .char {
    -fx-fill: -char-color;
}

.code-editor .doc {
    -fx-fill: -doc-color;
}

.code-editor .comment {
    -fx-fill: -comment-color;
}

.code-editor .annotation {
    -fx-fill: -annotation-color;
}

.code-editor .constant {
    -fx-fill: -constant-color;
}