* {
    -keyword-color: #ff7b72;
    -string-color: #a5d6ff;
    -char-color: #a5d6ff;
    -doc-color: #8b949e;
    -comment-color: #8b949e;
    -annotation-color: #ff7b72;
    -constant-color: #79c0ff;
}