* {
    -keyword-color: #cf222e;
    -string-color: #0a3069;
    -char-color: #0a3069;
    -doc-color: #6e7781;
    -comment-color: #6e7781;
    -annotation-color: #cf222e;
    -constant-color: #0550ae;
}