
.side-bar .cell {
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-border-color: transparent;
}

.side-bar .cell:selected {
    -fx-border-color: -accent-color;
}

.side-bar .cell:open {
    -fx-background-color: -accent-color;
}

.side-bar .cell:open .text {
    -fx-text-fill: -tertiary-text-color;
}

.side-bar .cell:open .icon {
    -fx-background-color: -tertiary-text-color;
}